.git
.next
.playwright-cli
node_modules
output
screenshots
eumetsat-calendar-guide
coverage
build
out

.env
.env.*

*.db
*.db-journal
*.db-shm
*.db-wal
!prisma/dev.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

public/uploads/**
!public/uploads/
!public/uploads/courses/
!public/uploads/courses/minicurso-processamento-e-visualizacao-de-dados-de-queimadas-2026-a46bd962-1fe3-440e-ac7e-39de006dbf1b.jpg
Dockerfile
docker-compose*.yml
